.uno{
    background-color: #2C3E50;
    height: 10vh;
}
.due{
    background-color: #1ABC9C;
    height: 65vh;
}
.avatar{
}
.tre{
    height: 90vh;
}
.quatro{
    background-color: #1ABC9C;
    height: 50vh;
}
.cinque{
    height: 75vh;
}
.sei{
    background-color: #1ABC9C;
    height: 20vh;
}