.top{
    background-color: #2C3E50;
    height: 10vh;
}
.uno{
    background-color: #1ABC9C;
    height: 65vh;
}
.due{
    height: 90vh;
}
.tre{
    background-color: #1ABC9C;
    height: 50vh;
}
.quatro{
    height: 75vh;
}
.cinque{
    background-color: #3A546D;
    height: 25vh;
}