/*TOP BAr*/
.nav-dark{
    background-color: #2c3e50;
}
.burger{
    display: none;
}
/*MAIN*/
img{
    width: 100%;
    border-radius: 9px;
}
.box.box-img {
    width: 20rem;
}
.odd:nth-of-type(odd){
    color: white;
    background-color: #1ABC9C;
}
.gy-5>.col-lg-4>.box.box-img>img{
    margin-left: 4rem;
    width: 28rem;
}
button{
    background-color: #1ABC9C;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
}
.hr{
    width: 9rem;
    height: 3px;
    border-radius: 2px;  
}
.hr-2{
    width: 80%;
    height: 1px;
    background-color: lightgray;
}
/*FOOTER*/
.upper-footer{
    background-color: #3A546D;
}
a{
    color: #1ABC9C;
}

/********************
     MEDIA-QUERY
********************/
@media screen and (max-width: 450px) {
    li{
        display: none;
    }
    .burger{
        display: block;
    }
}